// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 50px;
}
h1 {
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}
ul {
  list-style: none;
  width: 700px;
  display: flex;
  justify-content: space-around;
}
li {
  font-family: sans-serif;
  background-color: #09122D;
  color: #FA3B1C;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}
form {
  width: 700px;
  display: flex;
  input {
    width: 200px;
  }
  .button {
    width: 50px;
    background-color: #FA3B1C;
    color: #09122D;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  font-family: sans-serif;

}
